[Unit]
Description=Capeit Hardware Control Daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/capeitd
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
