[Desktop Entry]
Name=CapeIt
Comment=Simple Hardware & Thermal Control
Exec=capeit-gui
Icon=capeit
Terminal=false
Type=Application
Categories=System;Settings;
Keywords=cpu;gpu;power;thermal;
